body{
    background: url("41.jpg") no-repeat 0 0 /cover scroll;
}
h1{
    color: rgb(45, 21, 199);
    font-size: 45px;
    font-weight: 700;
}
.login-area{
    margin:100px auto;
    width: 70%;
}
.submit-area{
    margin-top:50px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}
.transaction-area{
    display:none;
    margin-top: 50px;
}
.status{
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    color:#fff;
}
.status h5{
    font-size: 35px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.submit-area h4{
    color:rgb(45, 21, 199);
    font-size: 25px;
    font-weight: 700;
}